<div class="bannercontainer">
    <div class="banner">
        <ul>
            <!-- THE FIRST SLIDE -->
            <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-target="_blank" data-slideindex="back">
                <!-- THE MAIN IMAGE IN THE SLIDE -->
                <img src="{{ asset('img/slider/back_slider.png') }}" >

                <div class="caption fade"
                    data-x="30"
                    data-y="50"
                    data-speed="1"
                    data-start="0"><img src="{{ asset('img/slider/logo.jpg') }}"></div>
                    
                <div class="caption fade"
                     data-x="620"
                     data-y="-0"
                     data-speed="600"
                     data-start="500"
                     data-easing="easeOutExpo"><img src="{{ asset('img/slider/woman.jpg') }}"></div>

                <div class="caption lfl"
                     data-x="550"
                     data-y="80"
                     data-speed="1000"
                     data-start="900"
                     data-easing="easeOutExpo"><img src="{{ asset('img/slider/kid4.png') }}"></div>

                <div class="caption lfr"
                     data-x="750"
                     data-y="90"
                     data-speed="1000"
                     data-start="1500"
                     data-easing="easeOutExpo"><img src="{{ asset('img/slider/kid3.png') }}"></div>
                
                <div class="caption lfr"
                     data-x="850"
                     data-y="60"
                     data-speed="600"
                     data-start="1800"
                     data-easing="easeOutExpo"><img src="{{ asset('img/slider/kid2.png') }}"></div>
                     
                <div class="caption sfb"
                     data-x="400"
                     data-y="40"
                     data-speed="600"
                     data-start="2100"
                     data-easing="easeOutExpo"><img src="{{ asset('img/slider/kid5.png') }}"></div>
                     
                <div class="caption sfb"
                     data-x="1000"
                     data-y="35"
                     data-speed="600"
                     data-start="2500"
                     data-easing="easeOutExpo"><img src="{{ asset('img/slider/kid1.png') }}"></div>
                     
                <div class="caption sfb"
                     data-x="600"
                     data-y="0"
                     data-speed="600"
                     data-start="3300"
                     data-easing="easeOutExpo"><img src="{{ asset('img/slider/kid6.png') }}"></div>
            </li>
        </ul>
    </div>
</div>